body{
  margin: 0;
  padding: 0;
  background-color: #d9d9d9;
}

*{
  box-sizing: border-box;
}
.App {
  text-align: center;
}

/* Header */
.header-container{
  position: relative;
  border: 1px solid red;
  width: 95%;
  height: 20vh;
  margin: auto;
}
.header-items-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 1rem 2rem;
}
.options-container{
  display: flex;
  align-items: center;
  
}

.header-ul{
  display: flex;
  list-style-type: none;
  border: red 1px solid;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  width: 150px
}

.news-btns{
  display: flex;
  position: absolute;
  top: 65%;
}
.news-btns button{
  margin: 0px 5px;
  padding: 1rem 2rem;
  border: 0;
  border-radius: 5px;
  font-size: 1rem;
  -webkit-box-shadow: 4px 4px 6px -3px #000000; 
  box-shadow: 2px 3px 4px -3px #000000;
  cursor: pointer;
}
.news-btns button:active{
  transform: scale(.98);
}
.tech-btn{
  background-color: cornflowerblue;
  color: #fff;
}
.top-btn{
  background-color: #a1a1a1;
  color: #fff;
}

/* top news page */
.news-article-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  /* border: solid red 1px; */
}

.img-info-container{
  background-color: #fff;
  border-radius: 5px;
  padding: 8px;
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 100%;
  align-items: center;
  justify-content: center;
  margin: 15px auto;
  text-decoration: none;
  color: #333;
  -webkit-box-shadow: 4px 4px 6px -3px #000000; 
  box-shadow: 2px 3px 4px -3px #000000;
}
.img-info-container:active{
  transform: scale(.99);
}

.title-container{
  height: 120px;
  /* border: 1px solid green; */
}

.title{
  font-size: 1.5rem;
}

.img-container{
  display: flex;
  width: 100%;
  margin: 0px auto;
  justify-content: center;
  align-items: center;
  height: 240px;
  /* border: 1px solid black; */
}

.news-image{
  width: 300px;
}

.img-info-container p{
  font-size: .7rem;
}

.news-description{
  display: flex;
  align-items: flex-start;
  /* border: solid 1px red; */
  height: 123px;
}
.news-description p{
  font-size: 1rem;
}